:root {
    --main-color: black;

    --light-main: rgba(255, 255, 255, 0.06);
    --lighter-main: rgba(255, 255, 255, 0.09);
    --secondary-info: rgba(255, 255, 255, 0.6);
    --tertiary-info: rgba(255, 255, 255, 0.4);

    --border-rounding-default: 15px;
}

html {
    font-family: "TorusPro-Regular";
    font-size: 75%;
}

h1 {
    font-family: "TorusPro-Semibold";
}

.secondary-info {
    color: var(--secondary-info)
}

.tertiary-info {
    color: var(--tertiary-info);
}

.pill-button:hover,
.secondary-button:hover,
.like-button:hover,
.dislike-button:hover,
.video-description:hover,
.game-info:hover,
.game-category:hover,
.sort-by-button:hover {
    background-color: var(--lighter-main);
}

body {
    color: white;
    height: 100%;
    width: 100vw;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* ==================================================================== */

.top-bar {
    background: var(--main-color);
    position: fixed;
    height: 50px;
    width: 100%;
}

/* ==================================================================== */

.video-container {
    background: rgb(0, 0, 0);
    width: 100%;
    height: fit-content;

    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;

    margin-top: 50px;
}

.video-placeholder {
    height: auto;
    width: 100%;
    max-height: calc(100vh - 165px);
    object-fit: contain;
}

/* ==================================================================== */

.bottom-content-fullspread {
    background-color: var(--main-color);
    height: 6000px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.bottom-center {
    height: 100%;
    width: 100%;
    max-width: 180vh;
    min-width: 60vw;
    display: flex;
    flex-direction: row;
    padding-inline: 25px;
    padding-top: 10px;
    gap: 25px;
}

/* ==================================================================== */
/* ==================================================================== */

.left-content {
    height: 100%;
    width: 100%;
    min-width: 65%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.video-info {
    width: 100%;
    gap: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-front {
    width: 100%;
    text-overflow: ellipsis;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.channel-and-buttons {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.channel-box {
    width: fit-content;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.channel-image {
    height: 40px;
    width: 40px;
    border-radius: 2000px;
}

.channel-info {
    padding: 0;
}

.button-box {
    display: flex;
    flex-direction: row;
    gap: 10px;
    user-select: none;
}

.multi-button {
    background-color: var(--light-main);
    height: 40px;
    width: fit-content;
    min-width: 40px;
    border-radius: 2000px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
}

.like-button,
.dislike-button {
    height: 100%;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 15px;
    gap: 8px;
}

.like-button {
    border-top-left-radius: 2000px;
    border-bottom-left-radius: 2000px;
}

.button-divider {
    background-color: var(--lighter-main);
    height: 60%;
    width: 2px;
    border-radius: 2000px;
}

.dislike-button {
    border-top-right-radius: 2000px;
    border-bottom-right-radius: 2000px;
}

.pill-button {
    background-color: var(--light-main);
    height: 40px;
    width: fit-content;
    min-width: 40px;
    border-radius: 2000px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 15px;
    gap: 8px;
}

.button-image {
    height: 50%;
}

/* ==================================================================== */

.horizontal-divider {
    background-color: var(--light-main);
    height: 2px;
    width: 99%;
    border-radius: 2000px;
}

.video-description {
    background-color: var(--light-main);
    height: 120px;
    width: 100%;
    border-radius: var(--border-rounding-default);
}

.game-and-category {
    height: 110px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.game-info {
    background-color: var(--light-main);
    height: 100%;
    width: 50%;
    border-radius: var(--border-rounding-default);
}

.game-category {
    background-color: var(--light-main);
    height: 100%;
    width: 50%;
    border-radius: var(--border-rounding-default);
}

/* ==================================================================== */

.comment-section {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.top-row {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.sort-by-button {
    height: 40px;
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding-inline: 15px;
    border-radius: 2000px;
    user-select: none;
}

.user-comment-box {
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.user-pfp {
    height: 100%;
    border-radius: 2000px;
}

.comment-box-and-divider {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.comment-divider {
    background-color: var(--lighter-main);
    height: 2px;
    width: 100%;
    border-radius: 2000px;
}

/* ==================================================================== */

.comments-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.comment {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.commenter-pfp {
    height: 40px;
    width: 40px;
    border-radius: 2000px;
}

.commenter-name-and-date {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.comment-info {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.comment-text {
    height: fit-content;
    width: 100%;
}

.comment-feedback-box {
    height: 25px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.comment-feedback-button {
    height: 100%;
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 5px;
    border-radius: 2000px;
}

.comment-feedback-icon {
    height: 100%;
    width: auto;
}

.comment-report-button {
    height: fit-content;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
    border-radius: 2000px;
}

/* ==================================================================== */

.right-content {
    background-color: rgb(33, 33, 33);
    height: 100%;
    min-width: 450px;
}