@font-face {
    font-family: "CoolFont";
    src: url("fonts/TorusPro-Regular.ttf") format("truetype");
}

:root {
    --main-color: rgb(73, 64, 73);
    --light-gray: rgba(0, 0, 0, 0);
    --dark-gray: rgba(0, 0, 0, 0.200);
    --darker-gray: rgba(0, 0, 0, 0.300);
    --very-dark-gray: rgba(0, 0, 0, 0.600);
}

* {
    box-sizing: border-box;
}

p, h1 {
    margin: 0;
}

html {
    font-family: "CoolFont";
    text-align: center;
}

body {
    color: rgb(255, 255, 255);
    min-height: 100%;
    margin: 0;
    background-image: url(assets/background2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


@function random_range($min, $max) {
  $rand: random();
  $random_range: $min + floor($rand * (($max - $min) + 1));
  @return $random_range;
}

/* ==================================================================== */

.top-bar {
    display: none;
    background-color: var(--dark-gray);
    width: 100%;
    height: 40px;
    position: fixed;
}

/* ==================================================================== */

.main-content {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

/* USER ============================================================== */

.user-panel {
    display: flex;
    background-color: var(--dark-gray);
    width: fit-content;
    height: fit-content;
    padding: 20px;
    gap: 20px;
    border-radius: 20px;
    text-align: left;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.634);
}

.user-avatar {
    border-radius: 20px;
    height: 150px;
}

.user-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.name-handle {
    height: fit-content;
    text-shadow: 0 0 40px black
}

.user-name {
    font-size: 60px;
    line-height: 50px;
}

.handle {
    padding-left: 3px;
    margin-top: 5px;
    opacity: 70%;
}

.button-container {
    display: flex;
    gap: 15px;
}

.socials-button {
    background-color: var(--darker-gray);
    display: flex;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    border: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.504);
    border-style: solid;
    border-color: var(--dark-gray);
    border-width: 2px;
}

.socials-button:hover {
    background-color: var(--very-dark-gray);
}

.button-logo {
    height: 50%;
}

/* Bottom ==============================================================*/

.page-end {
    width: 100%;
    background-color: var(--dark-gray);
    height: fit-content;
    padding: 20px;
}